<nav id="main-menu">
  <ul class="nav nav-vertical">
    <li><a href="#start" class=""><i class="bi_sport-time"></i><span>Start</span></a>
    </li>
    <li><a href="#resume" class=""><i class="bi_doc-article-a"></i><span>Resume</span></a>
    </li>
    <li><a href="#portfolio" class="active"><i class="bi_doc-briefcase-d"></i><span>Portfolio</span></a>
    </li>
    <li><a href="#contact"><i class="bi_com-email"></i><span>Contact</span></a>
    </li>
  </ul>
  <span class="selector" style="height: 42px; top: 86px;"></span>
</nav>
